extends layout

block content
    h1 Location Of Seeker
    
    //form(action="/navigate" method="get")
        input(name="locationSearch" placeholder="Enter location" autofocus)
        input(type= "submit" value = "Submit")
        
